In [2]:
print("Hello World")

Hello World

In [3]:
import pandas as pd
# import csv

In [26]:
# Opening bom.movie_gross.csv file
df_movie_gross = pd.read_csv("./data/bom.movie_gross.csv")
# Opening rt.reviews.tsv file
df_movie_reviews = pd.read_table("./data/rt.reviews.tsv", index_col = 0,encoding='ANSI')
#Opening title.basics.csv
df_movie_title_basics = pd.read_csv("./data./title.basics.csv")
#Opening  title.ratings.csv
df_movie_ratings = pd.read_csv("./data./title.ratings.csv")
#Opening movie_info.tsv
df_movie_info = pd.read_table("./data/rt.movie_info.tsv", index_col = 0,encoding='ANSI')



# print(df_movie_gross)
# print(df_movie_info)

                                               synopsis rating
id
1     This gritty, fast-paced, and innovative police...      R  \
3     New York City, not-too-distant-future: Eric Pa...      R
5     Illeana Douglas delivers a superb performance ...      R
6     Michael Douglas runs afoul of a treacherous su...      R
7                                                   NaN     NR
...                                                 ...    ...
1996  Forget terrorists or hijackers -- there's a ha...      R
1997  The popular Saturday Night Live sketch was exp...     PG
1998  Based on a novel by Richard Powell, when the l...      G
1999  The Sandlot is a coming-of-age story about a g...     PG
2000  Suspended from the force, Paris cop Hubert is ...      R

                                                  genre            director
id
1                   Action and Adventure|Classics|Drama    William Friedkin  \
3                     Drama|Science Fiction and Fantasy    David Cronenberg
5                     Drama|Musical and Performing Arts      Allison Anders
6                            Drama|Mystery and Suspense      Barry Levinson
7                                         Drama|Romance      Rodney Bennett
...                                                 ...                 ...
1996   Action and Adventure|Horror|Mystery and Suspense                 NaN
1997                 Comedy|Science Fiction and Fantasy        Steve Barron
1998  Classics|Comedy|Drama|Musical and Performing Arts      Gordon Douglas
1999    Comedy|Drama|Kids and Family|Sports and Fitness  David Mickey Evans
2000  Action and Adventure|Art House and Internation...                 NaN

                                                writer  theater_date
id
1                                       Ernest Tidyman   Oct 9, 1971  \
3                         David Cronenberg|Don DeLillo  Aug 17, 2012
5                                       Allison Anders  Sep 13, 1996
6                      Paul Attanasio|Michael Crichton   Dec 9, 1994
7                                         Giles Cooper           NaN
...                                                ...           ...
1996                                               NaN  Aug 18, 2006
1997  Terry Turner|Tom Davis|Dan Aykroyd|Bonnie Turner  Jul 23, 1993
1998                                               NaN   Jan 1, 1962
1999                  David Mickey Evans|Robert Gunter   Apr 1, 1993
2000                                        Luc Besson  Sep 27, 2001

          dvd_date currency  box_office      runtime             studio
id
1     Sep 25, 2001      NaN         NaN  104 minutes                NaN
3      Jan 1, 2013        $     600,000  108 minutes  Entertainment One
5     Apr 18, 2000      NaN         NaN  116 minutes                NaN
6     Aug 27, 1997      NaN         NaN  128 minutes                NaN
7              NaN      NaN         NaN  200 minutes                NaN
...            ...      ...         ...          ...                ...
1996   Jan 2, 2007        $  33,886,034  106 minutes    New Line Cinema
1997  Apr 17, 2001      NaN         NaN   88 minutes  Paramount Vantage
1998  May 11, 2004      NaN         NaN  111 minutes                NaN
1999  Jan 29, 2002      NaN         NaN  101 minutes                NaN
2000  Feb 11, 2003      NaN         NaN   94 minutes  Columbia Pictures

[1560 rows x 11 columns]

In [8]:
df_movie_gross.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [27]:
df_movie_gross=df_movie_gross.dropna()
df_movie_gross.reset_index(drop=True)
df_movie_gross

df_movie_reviews=df_movie_reviews.dropna()
df_movie_reviews.reset_index(drop=True)
df_movie_reviews

df_movie_title_basics=df_movie_title_basics.dropna()
df_movie_title_basics.reset_index(drop=True)
df_movie_title_basics

df_movie_ratings=df_movie_ratings.dropna()
df_movie_ratings.reset_index(drop=True)
df_movie_ratings

df_movie_info=df_movie_info.dropna()
df_movie_info.reset_index(drop=True)
df_movie_info

,review,rating,fresh,critic,top_critic,publisher,date
id,,,,,,,
3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
3,"Quickly grows repetitive and tiresome, meander...",C,rotten,Eric D. Snider,0,EricDSnider.com,"July 17, 2013"
3,Cronenberg is not a director to be daunted by ...,2/5,rotten,Matt Kelemen,0,Las Vegas CityLife,"April 21, 2013"
3,"While not one of Cronenberg's stronger films, ...",B-,fresh,Emanuel Levy,0,EmanuelLevy.Com,"February 3, 2013"
3,Robert Pattinson works mighty hard to make Cos...,2/4,rotten,Christian Toto,0,Big Hollywood,"January 15, 2013"
...,...,...,...,...,...,...,...
2000,"Sleek, shallow, but frequently amusing.",2.5/4,fresh,Gene Seymour,1,Newsday,"September 27, 2002"
2000,The spaniel-eyed Jean Reno infuses Hubert with...,3/4,fresh,Megan Turner,1,New York Post,"September 27, 2002"
2000,"Manages to be somewhat well-acted, not badly a...",1.5/4,rotten,Bob Strauss,0,Los Angeles Daily News,"September 27, 2002"
2000,Arguably the best script that Besson has writt...,3.5/5,fresh,Wade Major,0,Boxoffice Magazine,"September 27, 2002"
2000,Dawdles and drags when it should pop; it doesn...,1.5/5,rotten,Manohla Dargis,1,Los Angeles Times,"September 26, 2002"