In [2]:
print("Hello World")

Hello World

In [3]:
import pandas as pd
# import csv

In [7]:
# Opening bom.movie_gross.csv file
df_movie_gross = pd.read_csv("./data/bom.movie_gross.csv")
# Opening rt.reviews.tsv file
df_movie_reviews = pd.read_table("./data/rt.reviews.tsv", index_col = 0,encoding='ANSI')
#Opening title.basics.csv
df_movie_title_basics = pd.read_csv("./data./title.basics.csv")
#Opening  title.ratings.csv
df_movie_ratings = pd.read_csv("./data./title.ratings.csv")
#Opening movie_info.tsv
df_movie_info = pd.read_table("./data/rt.movie_info.tsv", index_col = 0,encoding='ANSI')



print(df_movie_gross)
print(df_movie_reviews)

                                            title      studio  domestic_gross
0                                     Toy Story 3          BV     415000000.0  \
1                      Alice in Wonderland (2010)          BV     334200000.0
2     Harry Potter and the Deathly Hallows Part 1          WB     296000000.0
3                                       Inception          WB     292600000.0
4                             Shrek Forever After        P/DW     238700000.0
...                                           ...         ...             ...
3382                                    The Quake       Magn.          6200.0
3383                  Edward II (2018 re-release)          FM          4800.0
3384                                     El Pacto        Sony          2500.0
3385                                     The Swan  Synergetic          2400.0
3386                            An Actor Prepares       Grav.          1700.0

     foreign_gross  year
0        652000000  2010
1        691300000  2010
2        664300000  2010
3        535700000  2010
4        513900000  2010
...            ...   ...
3382           NaN  2018
3383           NaN  2018
3384           NaN  2018
3385           NaN  2018
3386           NaN  2018

[3387 rows x 5 columns]
                                                 review rating   fresh
id
3     A distinctly gallows take on contemporary fina...    3/5   fresh  \
3     It's an allegory in search of a meaning that n...    NaN  rotten
3     ... life lived in a bubble in financial dealin...    NaN   fresh
3     Continuing along a line introduced in last yea...    NaN   fresh
3                ... a perverse twist on neorealism...     NaN   fresh
...                                                 ...    ...     ...
2000  The real charm of this trifle is the deadpan c...    NaN   fresh
2000                                                NaN    1/5  rotten
2000                                                NaN    2/5  rotten
2000                                                NaN  2.5/5  rotten
2000                                                NaN    3/5   fresh

                 critic  top_critic         publisher                date
id
3            PJ Nabarro           0   Patrick Nabarro   November 10, 2018
3        Annalee Newitz           0           io9.com        May 23, 2018
3          Sean Axmaker           0  Stream on Demand     January 4, 2018
3         Daniel Kasman           0              MUBI   November 16, 2017
3                   NaN           0      Cinema Scope    October 12, 2017
...                 ...         ...               ...                 ...
2000      Laura Sinagra           1     Village Voice  September 24, 2002
2000  Michael Szymanski           0        Zap2it.com  September 21, 2005
2000       Emanuel Levy           0   EmanuelLevy.Com       July 17, 2005
2000   Christopher Null           0    Filmcritic.com   September 7, 2003
2000    Nicolas Lacroix           0      Showbizz.net   November 12, 2002

[54432 rows x 7 columns]